

// 楼层

#louti {
    width: $page_width;
    margin: 0 auto;
    // background-color: #f4f0ea;
}

.life {
    position: relative;
   
}

.lifeTop {
    height: 48px;
    padding-bottom: 20px;
    box-sizing: border-box;
    .lifeTopLeft {
        float: left;
        .name{
            font-size: $page_size*2;
            margin-right: 20px; 
        }       
    }
  
}

.lifeTopRightindex{
    float: right;

    .lifeList{
        font-size: $page_size;
        padding-top: 14px;
        float: left;
        a {
            font-size: $page_size;
            text-decoration: none;
            color:#000;
        }

        span {
            margin: 0 13px;
            font-size: $page_size;
        }

    }
    .more {
        font-size: $page_size;
        padding-top: 14px;
        margin-left: 30px;
        float: right;
    }
}

.lifeBanner {
    height: 310px;
    position: relative;
    margin-bottom: 20px;
    ul {
        li {
            position: absolute;
            left:0px;
            top:0px;
            opacity: 0;    
            img {
                display: block;
                width: 100%;
            }                                                                                              
        }
    }

    ol {
        position: absolute;
        bottom: 10px;
        left: 525px;
        // text-align: center;
        li{
            float: left;
			width: 8px;
            height:8px;
            margin: 0 8px;
			background: #fff;
			border-radius: 50%; 
			text-indent: -99999px;
			cursor: pointer;
        }

        .active {
            box-shadow: 0 0 0 4px #dfcead;
            background: #a7936e;
        }
    }
    
   

    .stick {
        @extend %arrow;
        
    }

    .lifeBanner-prev:hover{
        background-position: 0 -2561px;
    }

    .lifeBanner-next:hover{
        background-position: 0 -4687px;
    }

    .lifeBanner-prev {
        left: 150px;
        background: url(../images/xuebi.png) no-repeat 0 -2622px;
    }

    .lifeBanner-next {
        right: 150px;
        background: url(../images/xuebi.png) no-repeat 0 -4742px;
    }
}


