
#newProducts {
    @extend %box;
    height: 510px;
    margin-top: 30px;
   
    
    .newProductsTop {
        height: 48px;
        padding-bottom: 20px;
        box-sizing: border-box;
        .newProductsTopLeft {
            float: left;
            .name{
                font-size: $page_size*2;
                margin-right: 20px;
                float: left;
                
            }

            span {
                display: inline-block;
                padding-top: 13px;
                font-size: $page_size;
            }
            
        }

        .newProductsTopRight{
            float: right;
            p {
                font-size: $page_size;
                padding-top: $page_size;
            }
        }
    }

  
}

.newProductsBottom {
    overflow: hidden;

    .newProductsList {
        width: 2000px;
        li {
            width: 265px;
            float: left;
            margin-right: 10px;
           
           
    
            a {
                width: 265px;
                height: 265px;
                display: inline-block;
                position: relative;
                background: #f4f4f4;
            }
    
            .nianhuojie {
                width: 48px;
                height: 48px;
                left: 6px;
                top: 6px;
                position: absolute;
            }
    
            .priceInfo {
                width: 48px;
                height: 36px;
                padding-left: 8px;
                padding-right: 14px;
                // box-sizing: border-box;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                background: darkred;
                border-top-right-radius: 10px;
    
                p {
                    font-size: $page_size - 2;
                    color: #fff;
                    text-align: center;
                    margin-top: 5px;
                }
    
                .newProductsPrice {
                    font-size: $page_size;
                    color: #fff;
                    font-weight: 700;
                    display: block;
                    text-align: center;
                    margin-top: 5px;
                }
            }
    
            .qianggou {
                width: 265px;
                height: 30px;
                background: red;
                color: #fff;
                font-size: $page_size - 2;
                bottom: 0;
                left: 0;
                position: absolute;
                line-height: 30px;
                text-indent: 85px;
            }
    
                
        }
    }
   

    .newProductsInfo {
        width: 100%;
        .newProductsItem {
            width: 58px;
            height: 20px;
            padding:5px 0;
            color:#fff;
            font-size: 12px;
            background-color: #e36844;
            margin:  0 auto;
            text-align: center;
            line-height: 20px;
        }

        h4 {
            width: 166px;
            margin: 0 auto 4px;
            max-height: 40px;
            line-height: 20px;
            display: -webkit-box;
            overflow: hidden;
            color:#000;
            text-align: center;
        }

        .PriceItem {
            height: 13px;
            text-align: center;
            padding-bottom: 9px;
            .salePrice {
                color: #d4282d;
            }

            .originalPrice {
                color: #999;
                font-size: 12px;
            }
        }
    }

}