#top {
    
    height: 180px;
    .header{
        width:$page_content;
        background-color: map-get($color, b);
        height: 36px;
        .headerCenter {
            @extend %box;
            font-size: $page_size - 2;
            .loginModule {
                float: right;
            }
        }
    }

    .loginNav{
        @include inline-block;
        line-height: 36px;
        color: map-get($color, a);
        text-decoration: none;
        font-family: "Microsoft Yahei","微软雅黑","verdana";

        .icon-xiajiantou {
            width: 11px;
            height: 5px;
            margin-left: 10px;
            vertical-align: middle;
        }

        .icon-shouji{
            width:11px;
            height: 7px;
            margin-right: 6px;
            vertical-align: middle;
        } 

    }

    .loginNav:hover {
        color: map-get($color, d);
    }

    .shuxian {
        @include inline-block;
        color: map-get($color, c);
        margin:0 10px;
    }


    .nav {
        @extend %box;
        height: 120px;
        position: relative;

        .logoimages {

            width: 362px;
            height: 104px;
            float: left;
    
        }
    
      
        .searchbox {
            width: 532px;
            height: 36px;
            margin-top: 26px;
            float: left;
            position: relative;
            //放大镜
            .icon-fangdajing {
                width: 14px;
                height: 14px;
                position: absolute;
                top: 11px;
                left: 7px;
                z-index: 2;
            }
            
            .searchInput {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                display: block;
                height: 38px;
                line-height: 38px;
                padding-top: 2px;
                padding-bottom: 2px;
                border: 1px solid $page_color;
                border-bottom-left-radius: 19px;
                border-top-left-radius: 19px;
                font-size: 14px;
                width: 442px;
                padding-left: 38px;
                outline: 0;
                overflow: hidden;
                box-sizing:border-box;
            }

            .searchButton {
                width: 90px;
                height: 38px;
                background-color: $page_color;
                border-top-right-radius: 19px;
                border-bottom-right-radius: 19px;
                cursor: pointer;
                float: right;
                color: #fff;
                line-height: 38px;
                text-align: center;
                font-size: 16px;
                letter-spacing: 1px;   
            }
          

        //    .searchKeyword {
        //         position: absolute;
        //         top: 12px;
        //         left: 38px;
        //         color: #999;
        //         display: block;
        //         line-height: 1;
        //         cursor: text;
        //         touch-action: none;
        //         -ms-touch-action: none;
        //         pointer-events: none;
        //         -ms-pointer-events: none;
        //         -webkit-user-select: none;
        //         white-space: nowrap;
        //         overflow: hidden;
        //         width: 390px;
        //         text-overflow: ellipsis;
        //         font-size: 14px;
        //         z-index: 2;
        //     }
     
            // .hotKeywordListWrap {
            //     width: 444px;
            //     height: 18px;
            //     margin-top: 46px;
            //     margin-left: 8px;
            //     overflow: hidden;

            //     .hotKeywordList {
            //         height: 144px;
            //         position: relative;
            //         overflow: hidden;
    
                  
            //     }
            // }

         

            
         

        }

        .hotKeywordRow {
            height: 18px;
            // line-height: 18px;
            .hotKeyword {
                display: inline-block;
                color: #999;
                padding: 0 10px;
                border-right: 1px solid #ccc;
                cursor: pointer;
                font-size: $page_size - 2;
            }

            .hotKeyword:last-child {
                border: 0;
            }
        }


        .shopcart {
            display: block;
            position: relative;
            cursor: pointer;
            width: 134px;
            height: 38px;
            border: 1px solid $page_color;
            border-radius: 19px;
            padding: 8px 0;
            margin-top: 26px;
            margin-left: 49px;
            float: right;
            z-index: 4;
            box-sizing:border-box;
            text-decoration: none;

            .icon-gouwuche {
                    width: 18px;
                    height: 18px;
                    margin-left: 22px;
                    color: $page_color;
            }

            .cartName {
                color: $page_color;
                margin-left: 5px;
                margin-top: -1px;
                font-size: $page_size;
            }

            .Cartnum {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-left: 5px;
                margin-top: -1px;
                color: #fff;
                text-align: center;
                font-size: $page_size;
                line-height: 20px;
                z-index: 1;
                background-color: red;
            }
            
        }

     
    }

    .navtable {  
        font-weight: 700;
        position: absolute;
        bottom: 0px;
        width: 100%;
        .navtableItem{
            .navli {
                float: left;
                text-align: center;
                padding: 0 25px 5px; 
                a {
                    display: block;
                    color: #000;
                    font-size: $page_size;
                    text-decoration: none;
                }
                
            }

            .navli:hover .visibletable {
                display: block;
            }

            .navli:first-child {
                padding-left: 0;
            }
    
            .navli:last-child {
                padding-right: 0;
            }

        }

    }

    .visibletable {
        position: absolute;
        width: 1202px;
        height: 500px;
        background: #fff;
        left: -63px;
        top: 19px;
        z-index: 1;
        padding: 14px 20px 0;
        display: none;
 
    }

    .visibletableItem {
        width: 12.5%;
      
       
        float: left;
        h4 {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            line-height: 36px;
            border-bottom: 1px solid #ddd;
        }



        
    }

    .visiblelist {
        .visiblelistli {
            text-align: center;
            .visibletableImg {
                display: inline-block;
                width: 50px;
                height: 50px;
                vertical-align: middle;
            }
    
            .visibletabletitle {
                display: inline-block;
                font-size: $page_size;
                padding-left: 5px;
                vertical-align: middle;
            }
        }
       
    }
   
}