@charset "utf-8";
@import "compass/reset";
@import "compass/css3";

$page_width:1090px;
$page_content:100%;
$page_size:14px;
$page_color:#CC9756;
%box {
    width:$page_width;
    margin: 0 auto;
}

%arrow {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 130px;
        cursor: pointer;
        opacity: 0.8;
        background-color: #E2C199;
        border-radius: 50%;
    
}

.clear:after {
    content: " ";
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    clear: both;
}



$color:(a:#ccc,b:#333,c:#5c5c5c,d:#ffffff,e:#999,f:#3300ff);
@import "top";
@import "banner";
@import "bigPromotionModule";
@import "newProducts";
// @import "louti";
@import "life";
@import "clothes";
@import "selectionHome";
@import "bottom";


