#stairs {
    width: 60px;
    position: fixed;
    top: 200px;
    left: 100px;
    .stairsname {
        list-style: none;
        width: 60px;
        height: 40px;
        padding: 10px 0;
    }

}