@charset "UTF-8";
/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/index.scss */
#top .header .headerCenter, #top .nav, #bigPromotionModule .bigPromotionMain, #newProducts, #selectionHome, #bottom .bottomItem .bottomItemMain, .footer .footerMain {
  width: 1090px;
  margin: 0 auto;
}

/* line 14, ../sass/index.scss */
.banner .stick, .lifeBanner .stick, .clothesbanner .stick {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 130px;
  cursor: pointer;
  opacity: 0.8;
  background-color: #E2C199;
  border-radius: 50%;
}

/* line 1, ../sass/_top.scss */
#top {
  height: 176px;
}
/* line 4, ../sass/_top.scss */
#top .header {
  width: 100%;
  background-color: #333;
  height: 36px;
}
/* line 8, ../sass/_top.scss */
#top .header .headerCenter {
  font-size: 12px;
}
/* line 11, ../sass/_top.scss */
#top .header .headerCenter .login {
  float: right;
}
/* line 17, ../sass/_top.scss */
#top a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 36px;
  color: #ccc;
  text-decoration: none;
  font-family: "Microsoft Yahei","微软雅黑","verdana";
}
/* line 24, ../sass/_top.scss */
#top a .icon-xiajiantou {
  width: 11px;
  height: 5px;
  margin-left: 10px;
  vertical-align: middle;
}
/* line 31, ../sass/_top.scss */
#top a .icon-shouji {
  width: 11px;
  height: 7px;
  margin-right: 6px;
  vertical-align: middle;
}
/* line 40, ../sass/_top.scss */
#top a:hover {
  color: #ffffff;
}
/* line 44, ../sass/_top.scss */
#top .shuxian {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #5c5c5c;
  margin: 0 10px;
}
/* line 49, ../sass/_top.scss */
#top .nav {
  height: 140px;
  position: relative;
}
/* line 54, ../sass/_top.scss */
#top .nav .logoimages {
  width: 362px;
  height: 104px;
  float: left;
}
/* line 63, ../sass/_top.scss */
#top .nav .searchbox {
  width: 532px;
  height: 36px;
  margin-top: 26px;
  float: left;
  position: relative;
}
/* line 70, ../sass/_top.scss */
#top .nav .searchbox .icon-fangdajing {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 11px;
  left: 7px;
  z-index: 2;
}
/* line 79, ../sass/_top.scss */
#top .nav .searchbox .searchInput {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  height: 38px;
  line-height: 38px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #CC9756;
  border-bottom-left-radius: 19px;
  border-top-left-radius: 19px;
  font-size: 14px;
  width: 442px;
  padding-left: 38px;
  outline: 0;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 100, ../sass/_top.scss */
#top .nav .searchbox .searchKeyword {
  position: absolute;
  top: 12px;
  left: 38px;
  color: #999;
  display: block;
  line-height: 1;
  cursor: text;
  touch-action: none;
  -ms-touch-action: none;
  pointer-events: none;
  -ms-pointer-events: none;
  -webkit-user-select: none;
  white-space: nowrap;
  overflow: hidden;
  width: 390px;
  text-overflow: ellipsis;
  font-size: 14px;
  z-index: 2;
}
/* line 121, ../sass/_top.scss */
#top .nav .searchbox .hotKeywordListWrap {
  width: 444px;
  height: 18px;
  margin-top: 46px;
  margin-left: 8px;
  overflow: hidden;
}
/* line 128, ../sass/_top.scss */
#top .nav .searchbox .hotKeywordListWrap .hotKeywordList {
  height: 144px;
  position: relative;
  overflow: hidden;
}
/* line 133, ../sass/_top.scss */
#top .nav .searchbox .hotKeywordListWrap .hotKeywordList .hotKeywordRow {
  height: 18px;
  line-height: 18px;
  margin-bottom: 18px;
}
/* line 138, ../sass/_top.scss */
#top .nav .searchbox .hotKeywordListWrap .hotKeywordList .hotKeywordRow .hotKeyword {
  display: inline-block;
  color: #999;
  padding: 0 10px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  line-height: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 444px;
  font-size: 12px;
}
/* line 152, ../sass/_top.scss */
#top .nav .searchbox .hotKeywordListWrap .hotKeywordList .hotKeywordRow .hotKeyword:last-child {
  border: 0;
}
/* line 162, ../sass/_top.scss */
#top .nav .searchbox .searchButton {
  width: 90px;
  height: 38px;
  background-color: #CC9756;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  cursor: pointer;
  float: right;
  color: #fff;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}
/* line 181, ../sass/_top.scss */
#top .nav .shopcart {
  position: relative;
  cursor: pointer;
  width: 134px;
  height: 38px;
  border: 1px solid #CC9756;
  border-radius: 19px;
  padding: 8px 0;
  margin-top: 26px;
  margin-left: 49px;
  float: right;
  z-index: 4;
  box-sizing: border-box;
}
/* line 195, ../sass/_top.scss */
#top .nav .shopcart .icon-gouwuche {
  width: 18px;
  height: 18px;
  margin-left: 22px;
  color: #CC9756;
}
/* line 202, ../sass/_top.scss */
#top .nav .shopcart .cartName {
  color: #CC9756;
  margin-left: 5px;
  margin-top: -1px;
  font-size: 14px;
}
/* line 209, ../sass/_top.scss */
#top .nav .shopcart .Cartnum {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: -1px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  z-index: 1;
  background-color: red;
}
/* line 226, ../sass/_top.scss */
#top .nav .navtable {
  font-weight: 700;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
/* line 233, ../sass/_top.scss */
#top .nav .navtable li {
  float: left;
  text-align: center;
  padding: 0 26px;
  font-size: 14px;
}
/* line 239, ../sass/_top.scss */
#top .nav .navtable li a {
  display: block;
  color: #000;
}
/* line 246, ../sass/_top.scss */
#top .nav .navtable li:first-child {
  padding-left: 0;
}
/* line 250, ../sass/_top.scss */
#top .nav .navtable li:last-child {
  padding-right: 0;
}

/* line 32, ../sass/_banner.scss */
.banner {
  height: 310px;
  position: relative;
  margin-bottom: 20px;
}
/* line 37, ../sass/_banner.scss */
.banner ul li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
/* line 42, ../sass/_banner.scss */
.banner ul li img {
  display: block;
  width: 100%;
}
/* line 49, ../sass/_banner.scss */
.banner ol {
  position: absolute;
  bottom: 10px;
  left: 664px;
}
/* line 54, ../sass/_banner.scss */
.banner ol li {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  background: #fff;
  border-radius: 50%;
  text-indent: -99999px;
  cursor: pointer;
}
/* line 65, ../sass/_banner.scss */
.banner ol .active {
  box-shadow: 0 0 0 4px #dfcead;
  background: #a7936e;
}
/* line 78, ../sass/_banner.scss */
.banner .stick-prev:hover {
  background-position: 0 -2561px;
}
/* line 82, ../sass/_banner.scss */
.banner .stick-next:hover {
  background-position: 0 -4687px;
}
/* line 86, ../sass/_banner.scss */
.banner .stick-prev {
  left: 150px;
  background: url(../images/xuebi.png) no-repeat 0 -2622px;
}
/* line 91, ../sass/_banner.scss */
.banner .stick-next {
  right: 150px;
  background: url(../images/xuebi.png) no-repeat 0 -4742px;
}

/* line 1, ../sass/_bigPromotionModule.scss */
#bigPromotionModule {
  width: 100%;
  height: 300px;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: #ffe6da;
}
/* line 10, ../sass/_bigPromotionModule.scss */
#bigPromotionModule .bigPromotionMain .top {
  height: 60px;
  margin-bottom: 10px;
  background: url(https://yanxuan.nosdn.127.net/c8d34f93de6a648fc24d3eb529d6b5bf.png?type=webp&imageView&thumbnail=1090x0&quality=95);
  background-size: 100% 100%;
}
/* line 16, ../sass/_bigPromotionModule.scss */
#bigPromotionModule .bigPromotionMain ul {
  height: 190px;
}
/* line 18, ../sass/_bigPromotionModule.scss */
#bigPromotionModule .bigPromotionMain ul li {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  color: #333;
  width: 265px;
  margin-right: 10px;
  float: left;
  text-align: center;
}
/* line 30, ../sass/_bigPromotionModule.scss */
#bigPromotionModule .bigPromotionMain ul li img {
  width: 140px;
  height: 140px;
  right: 0;
  bottom: 0;
  position: absolute;
}
/* line 38, ../sass/_bigPromotionModule.scss */
#bigPromotionModule .bigPromotionMain ul li .title {
  padding-left: 0;
  padding-right: 20px;
  position: absolute;
  left: 24px;
  top: 23px;
}
/* line 48, ../sass/_bigPromotionModule.scss */
#bigPromotionModule .bigPromotionMain ul li .contentTitle {
  font-family: "Microsoft Yahei","微软雅黑",verdana;
  font-weight: 700;
  font-size: 18px;
}
/* line 53, ../sass/_bigPromotionModule.scss */
#bigPromotionModule .bigPromotionMain ul li .subTitle {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}
/* line 60, ../sass/_bigPromotionModule.scss */
#bigPromotionModule .bigPromotionMain ul li:last-child {
  margin: 0;
}

/* line 2, ../sass/_newProducts.scss */
#newProducts {
  height: 510px;
  margin-top: 30px;
  background-color: #f4f0ea;
}
/* line 8, ../sass/_newProducts.scss */
#newProducts .newProductsTop {
  height: 48px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
/* line 12, ../sass/_newProducts.scss */
#newProducts .newProductsTop .newProductsTopLeft {
  float: left;
}
/* line 14, ../sass/_newProducts.scss */
#newProducts .newProductsTop .newProductsTopLeft .name {
  font-size: 28px;
  margin-right: 20px;
  float: left;
}
/* line 21, ../sass/_newProducts.scss */
#newProducts .newProductsTop .newProductsTopLeft span {
  display: inline-block;
  padding-top: 13px;
  font-size: 14px;
}
/* line 29, ../sass/_newProducts.scss */
#newProducts .newProductsTop .newProductsTopRight {
  float: right;
}
/* line 31, ../sass/_newProducts.scss */
#newProducts .newProductsTop .newProductsTopRight p {
  font-size: 14px;
  padding-top: 14px;
}

/* line 41, ../sass/_newProducts.scss */
.newProductsBottom {
  overflow: hidden;
}
/* line 44, ../sass/_newProducts.scss */
.newProductsBottom .newProductsList {
  width: 2000px;
}
/* line 46, ../sass/_newProducts.scss */
.newProductsBottom .newProductsList li {
  width: 265px;
  float: left;
  margin-right: 10px;
}
/* line 53, ../sass/_newProducts.scss */
.newProductsBottom .newProductsList li a {
  width: 265px;
  height: 265px;
  display: inline-block;
  position: relative;
  background: #f4f4f4;
}
/* line 61, ../sass/_newProducts.scss */
.newProductsBottom .newProductsList li .nianhuojie {
  width: 48px;
  height: 48px;
  left: 6px;
  top: 6px;
  position: absolute;
}
/* line 69, ../sass/_newProducts.scss */
.newProductsBottom .newProductsList li .priceInfo {
  width: 48px;
  height: 36px;
  padding-left: 8px;
  padding-right: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: darkred;
  border-top-right-radius: 10px;
}
/* line 82, ../sass/_newProducts.scss */
.newProductsBottom .newProductsList li .priceInfo p {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}
/* line 89, ../sass/_newProducts.scss */
.newProductsBottom .newProductsList li .priceInfo .newProductsPrice {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-top: 5px;
}
/* line 99, ../sass/_newProducts.scss */
.newProductsBottom .newProductsList li .qianggou {
  width: 265px;
  height: 30px;
  background: red;
  color: #fff;
  font-size: 12px;
  bottom: 0;
  left: 0;
  position: absolute;
  line-height: 30px;
  text-indent: 85px;
}
/* line 117, ../sass/_newProducts.scss */
.newProductsBottom .newProductsInfo {
  width: 100%;
}
/* line 119, ../sass/_newProducts.scss */
.newProductsBottom .newProductsInfo .newProductsItem {
  width: 58px;
  height: 20px;
  padding: 5px 0;
  color: #fff;
  font-size: 12px;
  background-color: #e36844;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
}
/* line 131, ../sass/_newProducts.scss */
.newProductsBottom .newProductsInfo h4 {
  width: 166px;
  margin: 0 auto 4px;
  max-height: 40px;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
  color: #000;
  text-align: center;
}
/* line 142, ../sass/_newProducts.scss */
.newProductsBottom .newProductsInfo .PriceItem {
  height: 13px;
  text-align: center;
  padding-bottom: 9px;
}
/* line 146, ../sass/_newProducts.scss */
.newProductsBottom .newProductsInfo .PriceItem .salePrice {
  color: #d4282d;
}
/* line 150, ../sass/_newProducts.scss */
.newProductsBottom .newProductsInfo .PriceItem .originalPrice {
  color: #999;
  font-size: 12px;
}

/* line 1, ../sass/_louti.scss */
#louti {
  width: 1090px;
  margin: 60px auto 0;
}

/* line 6, ../sass/_louti.scss */
.life {
  position: relative;
}

/* line 11, ../sass/_louti.scss */
.lifeTop {
  height: 48px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
/* line 15, ../sass/_louti.scss */
.lifeTop .lifeTopLeft {
  float: left;
}
/* line 17, ../sass/_louti.scss */
.lifeTop .lifeTopLeft .name {
  font-size: 28px;
  margin-right: 20px;
}

/* line 25, ../sass/_louti.scss */
.lifeTopRight {
  float: right;
}
/* line 28, ../sass/_louti.scss */
.lifeTopRight .lifeList {
  font-size: 14px;
  padding-top: 14px;
  float: left;
}
/* line 32, ../sass/_louti.scss */
.lifeTopRight .lifeList a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
/* line 38, ../sass/_louti.scss */
.lifeTopRight .lifeList span {
  margin: 0 13px;
  font-size: 14px;
}
/* line 44, ../sass/_louti.scss */
.lifeTopRight .more {
  font-size: 14px;
  padding-top: 14px;
  margin-left: 30px;
  float: right;
}

/* line 52, ../sass/_louti.scss */
.lifeBanner {
  height: 310px;
  position: relative;
  margin-bottom: 20px;
}
/* line 57, ../sass/_louti.scss */
.lifeBanner ul li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
/* line 62, ../sass/_louti.scss */
.lifeBanner ul li img {
  display: block;
  width: 100%;
}
/* line 69, ../sass/_louti.scss */
.lifeBanner ol {
  position: absolute;
  bottom: 10px;
  left: 525px;
}
/* line 74, ../sass/_louti.scss */
.lifeBanner ol li {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  background: #fff;
  border-radius: 50%;
  text-indent: -99999px;
  cursor: pointer;
}
/* line 85, ../sass/_louti.scss */
.lifeBanner ol .active {
  box-shadow: 0 0 0 4px #dfcead;
  background: #a7936e;
}
/* line 98, ../sass/_louti.scss */
.lifeBanner .lifeBanner-prev:hover {
  background-position: 0 -2561px;
}
/* line 102, ../sass/_louti.scss */
.lifeBanner .lifeBanner-next:hover {
  background-position: 0 -4687px;
}
/* line 106, ../sass/_louti.scss */
.lifeBanner .lifeBanner-prev {
  left: 150px;
  background: url(../images/xuebi.png) no-repeat 0 -2622px;
}
/* line 111, ../sass/_louti.scss */
.lifeBanner .lifeBanner-next {
  right: 150px;
  background: url(../images/xuebi.png) no-repeat 0 -4742px;
}

/* line 118, ../sass/_louti.scss */
.lifeBottom {
  overflow: hidden;
}
/* line 121, ../sass/_louti.scss */
.lifeBottom ul {
  width: 2000px;
}
/* line 123, ../sass/_louti.scss */
.lifeBottom ul li {
  width: 265px;
  float: left;
  padding-bottom: 50px;
  margin-right: 10px;
}
/* line 129, ../sass/_louti.scss */
.lifeBottom ul li a {
  width: 265px;
  height: 265px;
  display: inline-block;
  position: relative;
  background: #f4f4f4;
}
/* line 137, ../sass/_louti.scss */
.lifeBottom ul li .nianhuojie {
  width: 48px;
  height: 48px;
  left: 6px;
  top: 6px;
  position: absolute;
}
/* line 145, ../sass/_louti.scss */
.lifeBottom ul li .priceInfo {
  width: 60px;
  height: 36px;
  padding-left: 8px;
  padding-right: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: darkred;
  border-top-right-radius: 10px;
}
/* line 158, ../sass/_louti.scss */
.lifeBottom ul li .priceInfo p {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}
/* line 165, ../sass/_louti.scss */
.lifeBottom ul li .priceInfo .lifePrice {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-top: 5px;
}
/* line 175, ../sass/_louti.scss */
.lifeBottom ul li .qianggou {
  width: 265px;
  height: 30px;
  background: red;
  color: #fff;
  font-size: 12px;
  bottom: 0;
  left: 0;
  position: absolute;
  line-height: 30px;
  text-indent: 85px;
}
/* line 193, ../sass/_louti.scss */
.lifeBottom .lifeInfo {
  width: 100%;
  margin-top: 10px;
}
/* line 196, ../sass/_louti.scss */
.lifeBottom .lifeInfo .lifeItem {
  width: 70px;
  height: 20px;
  padding: 5px 0;
  color: #fff;
  font-size: 12px;
  background-color: #e36844;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
}
/* line 208, ../sass/_louti.scss */
.lifeBottom .lifeInfo h4 {
  width: 166px;
  margin: 4px auto;
  max-height: 40px;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
  color: #000;
  text-align: center;
}
/* line 219, ../sass/_louti.scss */
.lifeBottom .lifeInfo .PriceItem {
  height: 13px;
  text-align: center;
  padding-bottom: 9px;
}
/* line 223, ../sass/_louti.scss */
.lifeBottom .lifeInfo .PriceItem .salePrice {
  color: #d4282d;
}
/* line 227, ../sass/_louti.scss */
.lifeBottom .lifeInfo .PriceItem .originalPrice {
  color: #999;
  font-size: 12px;
}

/* line 1, ../sass/_clothes.scss */
#louti {
  width: 1090px;
  margin: 60px auto 0;
}

/* line 6, ../sass/_clothes.scss */
.clothes {
  position: relative;
}

/* line 16, ../sass/_clothes.scss */
.clothesTop {
  height: 48px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
/* line 20, ../sass/_clothes.scss */
.clothesTop .clothesTopLeft {
  float: left;
}
/* line 22, ../sass/_clothes.scss */
.clothesTop .clothesTopLeft .name {
  font-size: 28px;
  margin-right: 20px;
}

/* line 30, ../sass/_clothes.scss */
.clothesTopRight {
  float: right;
}
/* line 33, ../sass/_clothes.scss */
.clothesTopRight .clothesList {
  font-size: 14px;
  padding-top: 14px;
  float: left;
}
/* line 37, ../sass/_clothes.scss */
.clothesTopRight .clothesList a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
/* line 43, ../sass/_clothes.scss */
.clothesTopRight .clothesList span {
  margin: 0 13px;
  font-size: 14px;
}
/* line 49, ../sass/_clothes.scss */
.clothesTopRight .more {
  font-size: 14px;
  padding-top: 14px;
  margin-left: 30px;
  float: right;
}

/* line 57, ../sass/_clothes.scss */
.clothesbanner {
  height: 310px;
  position: relative;
  margin-bottom: 20px;
}
/* line 62, ../sass/_clothes.scss */
.clothesbanner ul li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
/* line 67, ../sass/_clothes.scss */
.clothesbanner ul li img {
  display: block;
  width: 100%;
}
/* line 74, ../sass/_clothes.scss */
.clothesbanner ol {
  position: absolute;
  bottom: 10px;
  left: 525px;
}
/* line 79, ../sass/_clothes.scss */
.clothesbanner ol li {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  background: #fff;
  border-radius: 50%;
  text-indent: -99999px;
  cursor: pointer;
}
/* line 90, ../sass/_clothes.scss */
.clothesbanner ol .active {
  box-shadow: 0 0 0 4px #dfcead;
  background: #a7936e;
}
/* line 103, ../sass/_clothes.scss */
.clothesbanner .clothes-prev:hover {
  background-position: 0 -2561px;
}
/* line 107, ../sass/_clothes.scss */
.clothesbanner .clothes-next:hover {
  background-position: 0 -4687px;
}
/* line 111, ../sass/_clothes.scss */
.clothesbanner .clothes-prev {
  left: 150px;
  background: url(../images/xuebi.png) no-repeat 0 -2622px;
}
/* line 116, ../sass/_clothes.scss */
.clothesbanner .clothes-next {
  right: 150px;
  background: url(../images/xuebi.png) no-repeat 0 -4742px;
}

/* line 123, ../sass/_clothes.scss */
.clothesBottom {
  overflow: hidden;
}
/* line 126, ../sass/_clothes.scss */
.clothesBottom ul {
  width: 2000px;
}
/* line 128, ../sass/_clothes.scss */
.clothesBottom ul li {
  width: 265px;
  float: left;
  margin-right: 10px;
  padding-bottom: 50px;
}
/* line 134, ../sass/_clothes.scss */
.clothesBottom ul li a {
  width: 265px;
  height: 265px;
  display: inline-block;
  position: relative;
  background: #f4f4f4;
}
/* line 142, ../sass/_clothes.scss */
.clothesBottom ul li .nianhuojie {
  width: 48px;
  height: 48px;
  left: 6px;
  top: 6px;
  position: absolute;
}
/* line 150, ../sass/_clothes.scss */
.clothesBottom ul li .priceInfo {
  width: 60px;
  height: 36px;
  padding-left: 8px;
  padding-right: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: darkred;
  border-top-right-radius: 10px;
}
/* line 163, ../sass/_clothes.scss */
.clothesBottom ul li .priceInfo p {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}
/* line 170, ../sass/_clothes.scss */
.clothesBottom ul li .priceInfo .clothesPrice {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-top: 5px;
}
/* line 180, ../sass/_clothes.scss */
.clothesBottom ul li .qianggou {
  width: 265px;
  height: 30px;
  background: red;
  color: #fff;
  font-size: 12px;
  bottom: 0;
  left: 0;
  position: absolute;
  line-height: 30px;
  text-indent: 85px;
}
/* line 198, ../sass/_clothes.scss */
.clothesBottom .clothesInfo {
  width: 100%;
  margin-top: 10px;
}
/* line 201, ../sass/_clothes.scss */
.clothesBottom .clothesInfo .clothesItem {
  width: 70px;
  height: 20px;
  padding: 5px 0;
  color: #fff;
  font-size: 12px;
  background-color: #e36844;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
}
/* line 213, ../sass/_clothes.scss */
.clothesBottom .clothesInfo h4 {
  width: 166px;
  margin: 5px auto;
  max-height: 40px;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
  color: #000;
  text-align: center;
}
/* line 224, ../sass/_clothes.scss */
.clothesBottom .clothesInfo .PriceItem {
  height: 13px;
  text-align: center;
  padding-bottom: 9px;
}
/* line 228, ../sass/_clothes.scss */
.clothesBottom .clothesInfo .PriceItem .salePrice {
  color: #d4282d;
}
/* line 232, ../sass/_clothes.scss */
.clothesBottom .clothesInfo .PriceItem .originalPrice {
  color: #999;
  font-size: 12px;
}

/* line 1, ../sass/_selectionHome.scss */
#selectionHome {
  margin-bottom: 80px;
}
/* line 4, ../sass/_selectionHome.scss */
#selectionHome .selectionTop {
  height: 48px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
/* line 8, ../sass/_selectionHome.scss */
#selectionHome .selectionTop h3 {
  font-size: 28px;
  font-weight: 700;
  float: left;
  margin-right: 20px;
}
/* line 14, ../sass/_selectionHome.scss */
#selectionHome .selectionTop span {
  display: inline-block;
  font-size: 14px;
  padding-top: 13px;
}
/* line 22, ../sass/_selectionHome.scss */
#selectionHome .selectionBottom {
  height: 380px;
}
/* line 24, ../sass/_selectionHome.scss */
#selectionHome .selectionBottom a {
  display: inline-block;
  float: left;
}

/* line 1, ../sass/_bottom.scss */
#bottom {
  width: 100%;
}
/* line 3, ../sass/_bottom.scss */
#bottom .bottomItem {
  width: 100%;
  border: 1px solid #e8e8e8;
}
/* line 6, ../sass/_bottom.scss */
#bottom .bottomItem .bottomItemMain {
  padding-top: 60px;
  padding-bottom: 34px;
  box-sizing: border-box;
}

/* line 16, ../sass/_bottom.scss */
.bottomList {
  height: 204px;
}
/* line 19, ../sass/_bottom.scss */
.bottomList li {
  width: 33.3%;
  height: 204px;
  float: left;
  border-left: 1px solid #e9e9e9;
}
/* line 26, ../sass/_bottom.scss */
.bottomList .leftBox {
  text-align: center;
}
/* line 30, ../sass/_bottom.scss */
.bottomList li:first-child {
  border: 0;
}
/* line 34, ../sass/_bottom.scss */
.bottomList .bottomItemLeft a {
  display: inline-block;
  width: 80px;
  height: 100px;
  padding-top: 25px;
  text-align: center;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  position: relative;
  margin-right: 29px;
}
/* line 48, ../sass/_bottom.scss */
.bottomList .coin {
  width: 31px;
  height: 26px;
  position: absolute;
  left: 25px;
  text-align: center;
}
/* line 56, ../sass/_bottom.scss */
.bottomList .online {
  background: url(../images/bottomsprite.png) 0 -290px;
}
/* line 60, ../sass/_bottom.scss */
.bottomList .feedback {
  background: url(../images/bottomsprite.png) 0 -98px;
}
/* line 64, ../sass/_bottom.scss */
.bottomList .onlineServer {
  position: absolute;
  left: 12px;
  top: 70px;
  font-size: 14px;
  color: #000;
}

/* line 75, ../sass/_bottom.scss */
h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}

/* line 82, ../sass/_bottom.scss */
.bottomItemCenter {
  box-sizing: border-box;
  padding: 0 37px;
}
/* line 88, ../sass/_bottom.scss */
.bottomItemCenter .ItemCentertop p {
  text-align: left;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 22px;
}

/* line 100, ../sass/_bottom.scss */
.ItemCenterbottom {
  box-sizing: border-box;
  padding: 0 37px;
}
/* line 103, ../sass/_bottom.scss */
.ItemCenterbottom p {
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 32px;
  float: left;
}
/* line 111, ../sass/_bottom.scss */
.ItemCenterbottom .appcoin {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  float: left;
  background: url(../images/bottomsprite.png), no-repeat, 0;
}
/* line 119, ../sass/_bottom.scss */
.ItemCenterbottom .yanxuan {
  background-position-y: -470px;
}
/* line 123, ../sass/_bottom.scss */
.ItemCenterbottom .weixin {
  background-position-y: -428px;
}
/* line 127, ../sass/_bottom.scss */
.ItemCenterbottom .weibo {
  background-position-y: -326px;
  margin: 0;
}

/* line 133, ../sass/_bottom.scss */
.bottomItemRight {
  position: relative;
}
/* line 135, ../sass/_bottom.scss */
.bottomItemRight .QRcode {
  width: 104px;
  height: 104px;
  background: #ccc;
  position: absolute;
  left: 129px;
}
/* line 143, ../sass/_bottom.scss */
.bottomItemRight p {
  position: absolute;
  top: 158px;
  left: 120px;
  color: #b4a078;
  font-size: 12px;
  margin-top: 3px;
  text-align: center;
}

/* line 154, ../sass/_bottom.scss */
.footer {
  width: 100%;
  height: 250px;
  padding-top: 37px;
  background-color: #414141;
  box-sizing: border-box;
}
/* line 163, ../sass/_bottom.scss */
.footer .footerMain .footerMainList {
  margin-bottom: 30px !important;
  padding-left: 17px;
  height: 51px;
}
/* line 168, ../sass/_bottom.scss */
.footer .footerMain .footerMainList li {
  float: left;
  margin-left: 122px;
}
/* line 173, ../sass/_bottom.scss */
.footer .footerMain .footerMainList li:first-child {
  margin: 0;
}

/* line 184, ../sass/_bottom.scss */
.innerlogo {
  width: 50px;
  height: 50px;
  margin-right: 17px;
  float: left;
  background: url(../images/footersprite.png) no-repeat 0;
}

/* line 192, ../sass/_bottom.scss */
.logo1 {
  background-position-y: -134px;
}

/* line 195, ../sass/_bottom.scss */
.logo2 {
  background-position-y: -368px;
}

/* line 198, ../sass/_bottom.scss */
.logo3 {
  background-position-y: 0;
}

/* line 201, ../sass/_bottom.scss */
.logo4 {
  background-position-y: -195px;
}

/* line 205, ../sass/_bottom.scss */
.innerTitle {
  color: #fff;
  font-size: 18px;
  line-height: 51px;
  float: left;
}

/* line 212, ../sass/_bottom.scss */
.hr {
  height: 1px;
  margin-bottom: 27px;
  background-color: #4f4f4f;
  border: 0;
}

/* line 220, ../sass/_bottom.scss */
.siteInfo .navInfo {
  text-align: center;
}
/* line 222, ../sass/_bottom.scss */
.siteInfo .navInfo a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
/* line 228, ../sass/_bottom.scss */
.siteInfo .navInfo span {
  padding: 0 13px;
  color: #999;
}
/* line 234, ../sass/_bottom.scss */
.siteInfo .copyright {
  text-align: center;
  color: #999;
  font-size: 12px;
  margin: 15px 0;
}
