@charset "UTF-8";
/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_top.scss */
#top {
  height: 176px;
}
/* line 3, ../sass/_top.scss */
#top .header {
  width: 100%;
  background-color: #333;
  height: 36px;
}
/* line 7, ../sass/_top.scss */
#top .header .headerCenter {
  font-size: 12px;
}
/* line 10, ../sass/_top.scss */
#top .header .headerCenter .login {
  float: right;
}
/* line 16, ../sass/_top.scss */
#top a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 36px;
  color: #ccc;
  text-decoration: none;
  font-family: "Microsoft Yahei","微软雅黑","verdana";
}
/* line 23, ../sass/_top.scss */
#top a .icon-xiajiantou {
  width: 11px;
  height: 5px;
  margin-left: 10px;
  vertical-align: middle;
}
/* line 30, ../sass/_top.scss */
#top a .icon-shouji {
  width: 11px;
  height: 7px;
  margin-right: 6px;
  vertical-align: middle;
}
/* line 39, ../sass/_top.scss */
#top a:hover {
  color: #ffffff;
}
/* line 43, ../sass/_top.scss */
#top .shuxian {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #5c5c5c;
  margin: 0 10px;
}
/* line 48, ../sass/_top.scss */
#top .nav {
  height: 140px;
}
/* line 52, ../sass/_top.scss */
#top .nav .logoimages {
  width: 362px;
  height: 104px;
  float: left;
}
/* line 61, ../sass/_top.scss */
#top .nav .searchbox {
  width: 532px;
  height: 36px;
  margin-top: 26px;
  float: left;
  position: relative;
}
/* line 68, ../sass/_top.scss */
#top .nav .searchbox .icon-fangdajing {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 11px;
  left: 7px;
  z-index: 2;
}
/* line 77, ../sass/_top.scss */
#top .nav .searchbox .searchInput {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  height: 38px;
  line-height: 38px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #CC9756;
  border-bottom-left-radius: 19px;
  border-top-left-radius: 19px;
  font-size: 14px;
  width: 442px;
  padding-left: 38px;
  outline: 0;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 98, ../sass/_top.scss */
#top .nav .searchbox .searchKeyword {
  position: absolute;
  top: 12px;
  left: 38px;
  color: #999;
  display: block;
  line-height: 1;
  cursor: text;
  touch-action: none;
  -ms-touch-action: none;
  pointer-events: none;
  -ms-pointer-events: none;
  -webkit-user-select: none;
  white-space: nowrap;
  overflow: hidden;
  width: 390px;
  text-overflow: ellipsis;
  font-size: 14px;
  z-index: 2;
}
/* line 124, ../sass/_top.scss */
#top .nav .searchbox .searchButton {
  width: 90px;
  height: 38px;
  background-color: #CC9756;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  cursor: pointer;
  float: right;
  color: #fff;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}
/* line 143, ../sass/_top.scss */
#top .nav .shopcart {
  position: relative;
  cursor: pointer;
  width: 134px;
  height: 38px;
  border: 1px solid #CC9756;
  border-radius: 19px;
  padding: 8px 0;
  margin-top: 26px;
  margin-left: 49px;
  float: right;
  z-index: 4;
  box-sizing: border-box;
}
/* line 157, ../sass/_top.scss */
#top .nav .shopcart .icon-gouwuche {
  width: 18px;
  height: 18px;
  margin-left: 22px;
  color: #CC9756;
}
/* line 164, ../sass/_top.scss */
#top .nav .shopcart .cartName {
  color: #CC9756;
  margin-left: 5px;
  margin-top: -1px;
  font-size: 14px;
}
/* line 171, ../sass/_top.scss */
#top .nav .shopcart .Cartnum {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: -1px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  z-index: 1;
  background-color: red;
}

/* line 13, ../sass/index.scss */
#top .header .headerCenter, #top .nav, #newProducts, #flashSaleContainer, .life, #selectionHome {
  width: 1090px;
  margin: 0 auto;
}

/* line 30, ../sass/index.scss */
#banner {
  width: 1920px;
  height: 100px;
  background: #5c5c5c;
}

/* line 36, ../sass/index.scss */
#bigPromotionModule {
  width: 100%;
  height: 100px;
  background: #ffffff;
}

/* line 42, ../sass/index.scss */
#newProducts {
  background: #00cc00;
}

/* line 47, ../sass/index.scss */
#popularItem {
  width: 100%;
  height: 100px;
  background: #3300ff;
}

/* line 53, ../sass/index.scss */
#flashSaleContainer {
  background: #ccc;
}

/* line 58, ../sass/index.scss */
#saleCenter {
  width: 100%;
  height: 100px;
  background: #333;
}

/* line 64, ../sass/index.scss */
#newProducts {
  background: #00cc00;
}

/* line 69, ../sass/index.scss */
.life {
  background: #3300ff;
}

/* line 109, ../sass/index.scss */
#selectionHome {
  background: #ccc;
}

/* line 114, ../sass/index.scss */
#Comment {
  width: 100%;
  height: 100px;
  background: #333;
}

/* line 120, ../sass/index.scss */
#selectionHome {
  background: #5c5c5c;
}

/* line 126, ../sass/index.scss */
.footer1 {
  width: 100%;
  height: 100px;
  background: #ffffff;
}

/* line 133, ../sass/index.scss */
.footer2 {
  width: 100%;
  height: 100px;
  background: #00cc00;
}
