html,body {
    height: 100%;
    position: relative;
}

.loginbox {
    width: 550px;
    height: 500px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    box-sizing: border-box;
    /* background: red; */
    padding: 17px;
}

.mask {

    width: 100%;
    height: 100%;
    background: #000;
    z-index: 5;
    position: fixed;
    top: 0;
    opacity: 0.4;
   

}

form {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.logintable {
    width: 400px;
    height: 48px;
    border: 1px solid #999;
    margin: 50px auto ;
}


label {
    vertical-align: middle;
    font-size: 14px;
    color: #000;

}

.loginboxtitle {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    text-indent: 53px;
    margin-top: 10px;
}



.logininput {
    height: 40px;
    border: 0;
    width: 200px;
    vertical-align: middle;
    margin-top: 3px;
}


.login {
    display: block;
    width: 400px;
    height: 48px;
    background: #b4a078;
    font-size: 18px;
    line-height: 48px;
    border: 0;
    margin: 0 auto;
}

.hint {
    display: inline-block;
    width: 100px;
    height: 20px;
    font-size: 12px;
    vertical-align: middle;
}

