/* line 1, ../sass/stairs.scss */
#stairs {
  width: 60px;
  position: fixed;
  top: 200px;
  left: 100px;
}
/* line 6, ../sass/stairs.scss */
#stairs .stairsname {
  list-style: none;
  width: 60px;
  height: 40px;
  padding: 10px 0;
}
